.main > h3 {
  margin-top: 8px;
}

.techCard {
  margin: 24px 0;
}

.techCard h4 {
  font-weight: bold;
}

.techCard h4,
.techCard h5 {
  margin-bottom: 8px;
}

.techCard ul {
  list-style: circle inside;
}

.techCard li {
  margin-bottom: 4px;
}
