.projCard {
  margin: 36px 0 24px 0;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.text {
  width: 100%;
}

@media (min-width: 768px) {
  .projCard {
    flex-direction: row;
  }

  .image {
    width: 25%;
  }

  .text {
    width: 75%;
    padding-left: 24px;
  }
}

.projCard > .text > div {
  margin-bottom: 12px;
}

.projCard > .text > div > a {
  margin-right: 12px;
  cursor: pointer;
  font-size: 20px;
}

.projCard > .text > h3 {
  font-weight: bold;
  padding-bottom: 12px;
}

.projCard > .text > h4 {
  font-style: italic;
  padding-bottom: 12px;
}

.projCard > .text > h6 {
  font-style: italic;
  padding-bottom: 12px;
}

.projCard > .text > ul {
  padding-bottom: 12px;
  list-style: circle inside;
}

.projDesc {
  line-height: 1.25;
}

.projCard > .text > .stack {
  display: flex;
  flex-direction: column;
}

.projCard > .text > .stack > h5 {
  margin-right: 12px;
  font-style: italic;
}

@media (min-width: 768px) {
  .projCard > .text > .stack {
    flex-direction: row;
  }
}
